*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    font-family:'Dosis', sans-serif;
    background-color: #dbc4a6
    
}

header{
    display: flex;
    min-height: 100px;
    background-color: #3b3636;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    display: flex;
    height: 100px;
}
.texto-logo{
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffbd59;
}

a{
    text-decoration: none;
    color: #ffbd59 ;
    font-weight: 350;
    font-size: x-large;
    margin-right: 25px;
    margin-left: 25px
}


a:hover{
    color: black;
}



.eventos{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.img-evento{
    padding: 20px;
    width: 50%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.717);
    border-radius: 5px;
}
.texto-eventos{
    height: 400px;
    width: 300px;
    text-align: center;
    color:black;
    padding: 30px 5px;

}
 .texto-h1{
    
    font-family: 'Dancing Script', cursive;
    padding: 5px;
    font-size:50px;
 }
 h2{
    font-size: 35px;
    padding: 10px;
 }
 button{
    font-size: x-large;
    font-weight: 100;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color:rgb(212, 190, 161)
 }
 button:hover{
    background-color: #ffbd59;
 }

 .cont-footer{
    display: flex;
    flex-direction: row;
    
    background-color: #ffbd59;
    justify-content:space-around;
    align-items: center;
    color:  #3b3636;
    font-size:larger;
 }
 .ubicacion{
    text-align: center;
    
 }
 footer a{
    color:  #3b3636;
 }
 footer .ubicacion .a-ub{
    text-decoration: underline;
 }
 footer .ubicacion .a-ub:hover{
    text-decoration: none;
    
 }

.copy{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-footer{
    height: 100px;
    width: 100px;
}

/*-------------servicios.html------------*/
.servicios{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 20px;

}
.items{
    text-align: center;
    padding: 20px;
}

.img-serv{
    border-radius: 2px;
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.hover-img{
    position:absolute;
    
    width: 338px;
    height: 290px;
    top:0;
    transform: scale(0);
    background:hsla(0,0%,0%,0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hover-img ul{
    color: beige;
    font-size: xx-large;
    text-align: left;
}
.img-serv:hover .hover-img{
    transform: scale(1);
}
/*----------------------Menu-----------------*/
menu{
    display: flex;
    flex-direction: column;

}
.Comidas_caseras{
    display:flex;
     justify-content:space-around
    
}
.Pasteleria{
    display:flex;
    justify-content: space-around;
   
}
.cc{
    size: 150px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.CC_text{
    font-size: 48px;
    font-family: 'Dancing Script', cursive;
    padding: 2px;
}
ul ul {
    list-style-type: none;
    list-style-position: outside;
}
/*---------------------Pedidos---------------*/
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.parte_uno{
    padding: 2%

}
.parte_uno .item input{
    width: 100%;
    
    border: none;
   
}
form input, textarea { font-size: x-large;
    font-weight: 100;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color:rgb(240, 226, 207)

}


/*-------------------Responsive--------------*/

/* extra small */
@media only screen and (max-width:700px){
    header{
        flex-direction: column;
    }

    
}

    
    

  


 